{% extends 'base.html.twig' %}

{% block body %}
    <h1>Sistema Electoral - Referendum Electrónico</h1>

    <p>Documentación API: <a href="https://52.39.90.251/app.php/api/doc">https://52.39.90.251/app.php/api/doc</a></p>
{% endblock %}